<div class="container">
  <div class="lead well">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="<%= @question.gravatar %>">
        </a>
      </div>

      <div class="media-body">
        <h4 class="media-heading"><%= @question.email %> asked:</h4>
        <%= @question.body %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">

    <div>
      <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#answerModal">Submit new answers</button>
    </div>
    <%= render "layouts/new_answer_form" %>
  <div class="media">
      <div class="media-left">
        <a href="#">
          <i class="fa fa-question-circle fa-5x" aria-hidden="true"></i>
        </a>
      </div>

      <div class="media-body">
        <h4 class="media-heading">user@email.com answered:</h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
          natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
          eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
          eget, arcu. In enim justo, rhoncus ut, </p>
      </div>
    </div>

    <div class="media">
        <div class="media-left">
          <a href="#">
            <i class="fa fa-question-circle fa-5x" aria-hidden="true"></i>
          </a>
        </div>
  
        <div class="media-body">
          <h4 class="media-heading">user@email.com answered:</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
            natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
            eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
            eget, arcu. In enim justo, rhoncus ut, </p>
        </div>
      </div>

    </div>
  </div>