<div class="well">
  <h4>The Universe is the totality of everything that exists, has existed, and will ever exist</h4>
  <p>This Q&amp;A site is dedicated to questions about the Universe.</p>
</div>

<div class="container">
  <% @questions.each do |q| %>
  <div class="media">
    <div class="media-left">
      <a href="#">
          <img class="media-object" src="<%= q.gravatar %>"
        </a>
    </div>

    <div class="media-body">
      <h5 class="media-heading"><%= q.email %> asked:</h5>
      <%= q.body %>
      <div><%= time_ago_in_words q.created_at %> ago</div>
        <div>
            <a href="/questions/10" class="btn btn-success btn-sm">View Answers</a>
          </div>
  </div>
</div>
  <% end %>
</div>