<div class="well">
  <h4>The Universe is the totality of everything that exists, has existed, and will ever exist</h4>
  <p>This Q&amp;A site is dedicated to questions about the Universe.</p>
</div>

<div class="container">
  <div class="media">
    <div class="media-left">
      <a href="#">
          <i class="fa fa-question-circle fa-5x" aria-hidden="true"></i>
        </a>
    </div>

    <div class="media-body">
      <h4 class="media-heading">user@email.com asked:</h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
        natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
        eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
        arcu. In enim justo, rhoncus ut, </p>
        <div>
            <a href="/questions/10" class="btn btn-success btn-xs">View Answers</a>
          </div>
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <a href="#">
                    <i class="fa fa-question-circle fa-5x" aria-hidden="true"></i>
                </a>
    </div>

    <div class="media-body">
      <h4 class="media-heading">user@email.com asked:</h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
        natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
        eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
        arcu. In enim justo, rhoncus ut, </p>
        <div>
          <a href="/questions/10" class="btn btn-success btn-xs">View Answers</a>
        </div>
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <a href="#">
         <i class="fa fa-question-circle fa-5x" aria-hidden="true"></i>
      </a>
    </div>

    <div class="media-body">
      <h4 class="media-heading">user@email.com asked:</h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
        natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
        eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
        arcu. In enim justo, rhoncus ut, </p>
        <div>
            <a href="/questions/10" class="btn btn-success btn-xs">View Answers</a>
          </div>
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <a href="#">
         <i class="fa fa-question-circle fa-5x" aria-hidden="true"></i>
      </a>
    </div>

    <div class="media-body">
      <h4 class="media-heading">user@email.com asked:</h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
        natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
        eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
        arcu. In enim justo, rhoncus ut, </p>
        <div>
            <a href="/questions/10" class="btn btn-success btn-xs">View Answers</a>
          </div>
    </div>
  </div>
</div>